// Custom CSS for Contact Page

.cv-details {
    margin-bottom: 40px;

    p {
      margin: 7px 0;

      i.fa {
        margin-right: 5px;
      }
    }

    p,
    .cv-email {
        word-wrap: break-word;
    }
}

.contact-form {

    input[type="text"], textarea {
        background-color: $white;
    }

    .field-group {
      clear: both;
      padding: 20px 0;
    }

    label {
        width: 120px;
        float:left;
        margin-right: 30px;
        font-weight: bold;
    }

    .field {
        margin-left: 0;
        float: left;

        textarea {
            width: 450px;
            height: 150px;
        }
    }

    .contact-submit {
      clear: both;
      margin: 20px 0 0 150px;
    }
}
