// Custom CSS for HomePage

.banner-home {
  width: 100%;
  background: url('../../img/banner.jpg') no-repeat top left;
  padding-top: 300px;
}

.banner-message {
  position: absolute;
  color: $dark-grey;
  top: 175px;
  padding: 20px;

  h2 {
    font-size: 46px;
    padding: 0;
    text-shadow: 0 0 6px $white;
  }

  .button {
    font-size: 16px;
    margin: 10px 0 0 0;
  }
}

.green-bar{
    background: rgba(159, 183, 27, .8);
    padding: 20px 0;
    border-top: 1px solid rgb(159, 183, 27);
}

.link {
    display: inline-block;
    box-sizing: border-box;
    width: 23%;
    float: left;
    padding: 5px 5px 0 5px;
    border-bottom: 0;
    margin: 0 1%;
    background-color: $white;
}

.homepage-box-link{
    position: relative;
    display: block;

    img {
        display: block;
    }

    span.title {
        display: block;
        font-family: $title;
        font-size: 16px;
        line-height: 1.2;
        text-transform: uppercase;
        color: $dark-grey;
        text-align: right;
        position: absolute;
        bottom: 0;
        left: 50%;
        -moz-transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        box-sizing: border-box;
        width: 100%;
        padding: 15px 10px 12px;
        background-color: $white;
    }

    &:hover {
        opacity: 0.9;
    }
}

.home-content-bg {
    padding: 60px 0;
}

.h1-container.home {
  text-align: center;
  padding: 30px 0 35px 0;

  h1,
  p.sub {
    margin: 0;
    padding: 0;
  }
}
