// Mixins and generic classes

@mixin h1-container {
    border-bottom: 1px solid $mid-grey;
    border-top: 1px solid $mid-grey;
    background: $white;
}

@mixin content-bg {
    padding: 40px 0;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix {
    display: block;
    clear: both;
}
