// Products Section

// Sidebar (menu)

.products-menu {
    margin: 0;
    padding: 0;
    @include border-radius(6px);
    @include box-shadow(0px, 0px, 5px, rgba(0, 0, 0, 0.1));
    overflow: hidden;

    li {
        margin: 0;

        a {
            font-size: 14px;
            padding: 10px;
            margin: 0;
            color: $white;
            border-left: 1px solid $mid-grey;
            border-right: 1px solid $mid-grey;
            border-top: 1px solid $mid-grey;
            color: $dark-grey;

            i {
                color: $mid-dark-grey;
            }
        }
    }

    .active a,
    .active a:hover,
    .active a:focus {
        background-color: $grey;
        color: $dark-grey;
        border-top: 1px solid $mid-grey;
        @include inset-box-shadow(0, 0, 1px, rgba(0, 0, 0, 0.15), inset);
        text-shadow: none;
        font-weight: bold;

            i {
                color: $dark-grey;
            }
    }

    .products-cat {
        padding: 12px 10px 10px 10px;
        @include background-gradient($mid-green, $light-green);
        @include text-shadow(0, 0, 2px, rgba(255, 255, 255, 0.5));
        font-family: $title;
        text-transform: uppercase;
        font-size: 16px;
        border-left: 1px solid $mid-green;
        border-right: 1px solid $mid-green;
        border-bottom: 1px solid $mid-green;
    }

}
