table {
  width: 100%;
  margin: 0 0 40px;
  font-size: 90%;
  border-top: 1px solid darken($light-grey, 10);

  tbody tr {
    border-bottom: 1px solid darken($light-grey, 10);
  }

  tbody tr:nth-child(even) {
    background-color: darken($light-grey, 5);
  }

  th,
  td {
    padding: 15px;
  }

  tbody > tr td:first-child {
    font-weight: bold;
  }
}
