<div class="banner-container">
    {% if page.banner == 'map' %}
        <div id="map">
            <div id="map_canvas"></div>
        </div>

        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBfBLUFfji_lJw7by9NT_vozrLJfSSE79o&sensor=true"></script>
        <script>
            $(document).ready(function(){

                var mapOptions = {
                  zoom: 13,
                  center: new google.maps.LatLng(-36.75177,144.31823),
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                }

                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(-36.75177,144.31823),
                });

                var iw = new google.maps.InfoWindow({
                    content: "CV Benchtops &amp; Hardware,<br/>80 Powells Avenue,<br/>Bendigo, VIC, 3550"
                });

                google.maps.event.addListener(marker, "click", function (e) { iw.open(map, marker); });

                google.maps.event.addDomListener(window, "resize", function() {
                    var center = map.getCenter();
                    google.maps.event.trigger(map, "resize");
                    map.setCenter(center);
                });

                // To add the marker to the map, call setMap();
                marker.setMap(map);
            });

        </script>
    {% else %}
        <img src="/assets/img/banners/home_banners/desktop.jpg" class="banner" alt="" title="" />
    {% endif %}
</div>
