<header>
  <div class="top-bar">
    <div class="container">
      <span itemscope itemtype="http://schema.org/Organization" class="logo">
          <a itemprop="url" href="{{ site.url }}">
              <img itemprop="logo" src="/assets/img/logo.png" alt="{{ site.title }}" title="{{ site.title }}" />
          </a>
      </span>
      <div class="contact-details">
        <span class="address">{{ site.street_address }}, {{ site.city }}</span>
        <span class="phone">{{ site.phone }}</span>
      </div>
    </div>
  </div>
  <div class="bottom-bar">
    <div class="container">
      <nav>
        <a href="/" {% if page.id == 'home' %}class="active"{% endif %}>
            <i class="fa fa-home"></i>
        </a>
        <a href="/about-us/" {% if page.id == 'about' %}class="active"{% endif %}>
            About Us
        </a>
        <a href="/benchtops/" {% if page.id == 'benchtops' %}class="active"{% endif %}>
            Benchtops &amp; Vanities
        </a>
        <a href="/accessories/" {% if page.id == 'accessories' %}class="active"{% endif %}>
            Accessories &amp; Fittings
        </a>
        <a href="/doors/" {% if page.id == 'doors' %}class="active"{% endif %}>
            Doors by Albedor
        </a>
        <a href="/trade/" {% if page.id == 'trade' %}class="active"{% endif %}>
            Trade
        </a>
        <a href="/contact-us/" {% if page.id == 'contact' %}class="active"{% endif %}>
            Contact Us
        </a>
        <span class="clearfix"></span>
      </nav>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
