<h3>Order Forms</h3>

<p>To place an order with us, please download and print the following forms.</p>
<p>Completed forms can be scanned and emailed to <a href="{{ site.email }}">{{ site.email }}</a>, or faxed to <strong>{{ site.fax }}</strong></p>

<div class="trade-form">
  <a href="/assets/forms/TODO.pdf" class="image">
    <img src="/assets/img/benchtop-order-form-small.jpg" alt="Benchtop Order Form">
  </a>
  <h4>Benchtop Order &amp; Quote Form</h4>
  <a href="/assets/forms/TODO.pdf" class="button small">Download (PDF)</a>
</div>

<div class="trade-form">
  <a href="/assets/forms/TODO.pdf" class="image">
    <img src="/assets/img/albedor-order-form-small.jpg" alt="Benchtop Order Form">
  </a>
  <h4>Albedor Doors Order Form</h4>
  <a href="/assets/forms/albedor-order-form.pdf" class="button small">Download (PDF)</a>
</div>
