---
layout: default
---
<div class="banner-home">
  <div class="container">
    <div class="banner-message">
      <h2>{{ page.banner_text }}</h2>
      <a href="/contact-us/" class="button">{{ page.banner_link }}</a>
    </div>
  </div>
  <div class="green-bar">
    <div class="container">
      {% for link in page.links %}
      <div class="link">
          <a href="{{ link.url }}" class="homepage-box-link">
              <img src="/assets/img/{{ link.image_name }}" alt="{{ link.title }}" title="{{ link.title }}" />
              <span class="title">{{ link.title }}&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span>
          </a>
      </div>
      {% endfor %}
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="h1-container home">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p class="sub">{{ page.sub_title }}</p>
  </div>
</div>

<div class="home-content-bg">
    <div class="container">
        <div class="row quarters">
          {% for section in page.sections %}
            <div class="col-1-4">
                {{ section | markdownify }}
            </div>
          {% endfor %}
        </div>
    </div>
</div>
